html,body{
    margin: 0;
    background-image: url(./Flux_Dev_A_delicate_handdrawninspired_background_image_for_a_w_3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}
.header{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

}
.head{
    background-color: #78909C;
    height: 75px;;
}
.but{
    width: 75px;
    height: 50px;
}
.btn{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
}
.btn2{
    background-color: #bcefff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
}
.btn3{
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
}
.btn4{
    background-color: #ffe600;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
}
.btn5{
    background-color: #494949;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
}
.box{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.content{
    width: 1000px;
    background-color: #eee7ce;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
}

table{
     width: 70%;
     text-align: center;
     border-collapse: collapse;
}

th,td{
     border: 1px solid black;
     padding: 10px;
}

.controlpost{
     background-color: #ccc;
     border-radius: 8px;
     padding-left: 10px;
}

img{
     width: 45%;
}